@model dotnetapp.Models.Booking

<h1>Test Ride Booking Details</h1>
<p>Booking ID: @Model.BookingID</p>
<p>Vehicle ID: @Model.VehicleID</p>
<p>Customer Name: @Model.CustomerName</p>
<p>Contact Number: @Model.ContactNumber</p>
<p>Duration (in minutes): @Model.DurationInMinutes</p>

<a href="@Url.Action("Index", "Vehicle")">Back to Vehicle Listings</a><br>
