@model List<dotnetapp.Models.Vehicle>

<h1>Vehicle Test Ride Booking</h1>

<!-- Display message if TempData["Message"] is not null -->
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<!-- Add search form -->
<form asp-action="Search" asp-controller="Vehicle" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by make..." name="make">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Vehicle ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.VehicleID</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Year</td>
                <td>
                    @if (vehicle.Availability)
                    {
                        <span class="text-success">Available</span>
                    }
                    else
                    {
                        <span class="text-danger">In Maintenance</span>
                    }
                </td>
                <td>
                    @if (vehicle.Availability)
                    {
                        <a id="bookButton" href="@Url.Action("Book","Booking", new { vehicleId = vehicle.VehicleID })" class="btn btn-primary">Book</a>
                    }
                    <a id="delete" asp-action="Delete" asp-route-vehicleId="@vehicle.VehicleID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
