@model dotnetapp.Models.PetAdoption

@{
    ViewData["Title"] = "Adopter Details";
}

<h1>Adopter Details</h1>
<p>Adopter ID: @Model.PetAdopterID</p>
<p>Name: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Phone Number: @Model.PhoneNumber</p>
<p>Address: @Model.Address</p>
<p>Selected Pet: @Model.Pet.Name</p>

<a href="@Url.Action("Index", "Pet")">Back to Pet Adoption Listings</a>
