@model dotnetapp.Models.Booking

<h1>Reservation Details</h1>
<p>Booking ID: @Model.BookingID</p>
<p>Party Hall ID: @Model.PartyHallID</p>
<p>Customer Name: @Model.CustomerName</p>
<p>Contact Number: @Model.ContactNumber</p>
<p>Duration (in minutes): @Model.DurationInMinutes</p>

<a href="@Url.Action("Index", "PartyHall")">Back to Party Hall Reservations</a><br>
